/* @font-face {
    font-family: kotlinFont;
    src: url(fonts/Kotlin-font.ttf);
}

@font-face {
    font-family: pixelGameFont;
    src: url(fonts/pixel-game-font.ttf);
} */

body {
    height: 100vh;
    width: 100vw;
    background-color: black; 
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bio {
    padding-left: 5px;
}

.gallery_img {
    height: 65vmin;
    width: 40vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

#gallery_box{
    overflow: hidden;
    width: 100%;
}

img {  
    user-select: none;
 }

.text, .game-text {
    color: white;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5vh;
}

#future {
    /* width: 100%; */
    text-align: center;
}

.game-text {
    font-family: 'Press Start 2P';
    width: 100%;
}

.game-text__intro-highlighted {
    background-color: yellow;
    padding: 4px 2px;
    color: black
}

#gallery {
    display: flex;
    gap: 4vmin;
    position: relative; /*???*/
    left: 40%;
    top: 50%; /*???*/
    transform: translate(0%, -50%);
}

@media screen and (max-width: 700px){
    body {
        height: auto;
        width: 100vw;
        background-color: black; 
        margin: 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: scroll;
    }
    #gallery {
        display: flex;
        flex-direction: column;
        gap: 4vmin;
        position: relative;
        left: 0;
        top: 50%;
        transform: translate(0%, 0%);
    }
    .gallery_img {
        height: 65vmin;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .text, .game-text, .game-text__intro-highlighted {
        font-size: medium;
        line-height: 21px;
    }
    p {
        margin: 5px auto 20px auto;
    }
    footer {
        position: relative;
        align-content: center;
        width: 100%;
        bottom: 0;
        height: 10vh;
        display: flex;
        align-items: center;
    }
    .gallery_img {
        height: 95%;
    }
    
    a {
        font-style: italic;
        text-decoration: none;
    }
    
}